body

header h1{
    position: absolute;
    padding: 10px;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

header img{
    width: 100%;
    height: 362px;
    opacity: 1;
}

.brushes h2{
    font-family: Helvetica;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    color: khaki);
    background-color: rgb(170, 233, 209) ;
    padding: 10px;
}

.images{
    display: inline-block;
    padding: 0 10px;

}
.description{
    padding: 10px;
    background-color: beige;
    vertical-align: top;
    font-family: Helvetica;
    display: inline-block;
    width: 50%;
}

.frames h2{
    font-family: Helvetica;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    color: khaki);
    background-color: lightblue;
    padding: 10px;
    border: 10px double brown;

}

.paint h2{
    font-family: Helvetica;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    color: khaki);
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    padding: 10px;
}